body {
    font-family: Arial;
    background-color: #f2f6ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin: 0;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}

p {
    font-size: 18px;
}
