<h2>📊 Attendance Report</h2>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Student Name</th>
    <th>Status</th>
    <th>Date</th>
</tr>

{% for row in data %}
<tr>

    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>

    <td>
        {% if row[2] == 'Present' %}
            🟢 Present
        {% elif row[2] == 'Absent' %}
            🔴 Absent
        {% elif row[2] == 'Late' %}
            🟡 Late
        {% else %}
            ⚪ Not Marked
        {% endif %}
    </td>

    <td>{{ row[3] }}</td>

</tr>
{% endfor %}

</table>
