<h2>📊 Attendance Percentage</h2>

<table border="1" cellpadding="10">

<tr>
    <th>Student Name</th>
    <th>Total Records</th>
    <th>Present / Late</th>
    <th>Percentage</th>
</tr>

{% for row in data %}
<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>
        {% if row[3] >= 75 %}
            🟢 {{ row[3] }}%
        {% elif row[3] >= 50 %}
            🟡 {{ row[3] }}%
        {% else %}
            🔴 {{ row[3] }}%
        {% endif %}
    </td>
</tr>
{% endfor %}

</table>

<br>
<a href="/dashboard">⬅ Back</a>
