<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>

<body>

<h2>Edit Student</h2>

<form method="POST">

    <input name="name" value="{{ student[1] }}"><br>
    <input name="age" value="{{ student[2] }}"><br>
    <input name="grade" value="{{ student[3] }}"><br>
    <input name="fee" value="{{ student[4] }}"><br>
    <input name="paid" value="{{ student[5] }}"><br>

    <select name="status">
        <option>Not Marked</option>
        <option>Present</option>
        <option>Absent</option>
        <option>Late</option>
    </select>

    <button>Update</button>

</form>

</body>
</html>
