<h2>✏️ Edit Student</h2>

<form method="POST">

    <input type="text" name="name" value="{{ student[1] }}"><br><br>

    <input type="number" name="age" value="{{ student[2] }}"><br><br>

    <input type="number" name="fee" value="{{ student[3] }}"><br><br>

    <input type="number" name="paid" value="{{ student[4] }}"><br><br>

    <label>Attendance Status</label><br><br>

    <select name="status">
        <option value="Present">🟢 Present</option>
        <option value="Absent">🔴 Absent</option>
        <option value="Late">🟡 Late</option>
    </select>

    <br><br>

    <button type="submit">Update</button>

</form>

<br>
<a href="/dashboard">⬅ Back</a>
