<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Edit Student</h2>
    <a href="/list">Back</a>
</div>

<div class="card" style="margin:30px auto;">

    <form method="POST">

        <input
            type="text"
            name="name"
            value="{{ student[1] }}"
            placeholder="Student Name"
            required
        >

        <br>

        <input
            type="text"
            name="class"
            value="{{ student[2] }}"
            placeholder="Class"
            required
        >

        <br>

        <input
            type="number"
            name="age"
            value="{{ student[3] }}"
            placeholder="Age"
            required
        >

        <br>

        <select name="gender" required>
            <option value="Male"
                {% if student[4] == "Male" %}selected{% endif %}>
                Male
            </option>

            <option value="Female"
                {% if student[4] == "Female" %}selected{% endif %}>
                Female
            </option>
        </select>

        <br><br>

        <button type="submit">
            Save Changes
        </button>

    </form>

</div>

</body>
</html>
