<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>✏️ Edit Student</h1>

    <form method="POST">

        <input
            type="text"
            name="name"
            value="{{ student[1] }}"
            required
        >

        <br><br>

        <button type="submit">
            Save Changes
        </button>

    </form>

    <br>

    <a href="/list">⬅ Back to List</a>

</body>
</html>
