<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <h2>School Dashboard</h2>
        <a href="/logout">Logout</a>
    </div>

    <div class="container">

        <div class="card">
            <h3>Add Student</h3>
            <p>Register new students</p>
            <a href="/add">Go</a>
        </div>

        <div class="card">
            <h3>Students List</h3>
            <p>View all students</p>
            <a href="/list">Go</a>
        </div>

    </div>

</body>
</html>
