<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Students List</h2>
    <a href="/home">Home</a>
</div>

<div style="overflow-x:auto;">

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Class</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
        <th>Photo</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s[0] }}</td>
        <td>{{ s[1] }}</td>
        <td>{{ s[2] }}</td>
        <td>{{ s[3] }}</td>
        <td>{{ s[4] }}</td>

        <td>
            <a href="/edit/{{ s[0] }}">Edit</a>
            <a href="/delete/{{ s[0] }}">Delete</a>
        </td>
        <td>
           <img
               src="{{ url_for('static', 
         filename='uploads/' + s[5]) }}"
               width="60"
            >
        </td>
     </tr>
    {% endfor %}

</table>

</div>

</body>
</html>
