<!DOCTYPE html>
<html>
<head>
    <title>Login - School System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h2>School Login</h2>

        <form method="POST">

            <input type="text"
                   name="username"
                   placeholder="Enter Username"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">Login</button>

        </form>

    </div>

</div>

</body>
</html>
