<!DOCTYPE html>
<html>
<head>
<title>Student Menu</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-4">

<h2>👨‍🎓 {{ student[1] }}</h2>

<div class="list-group">

<a href="/student/{{ student[0] }}"
class="list-group-item">
👁 View Student
</a>

<a href="/edit_student/{{ student[0] }}"
class="list-group-item">
✏ Edit Student
</a>

<a href="/student_exams/{{ student[0] }}"
class="list-group-item">
🎓 Exams & Grades
</a>

<a href="/receipt/{{ student[0] }}"
class="list-group-item">
🧾 Receipt
</a>

<a href="/id_card/{{ student[0] }}"
class="list-group-item">
🆔 ID Card
</a>

<a href="/delete_student/{{ student[0] }}"
class="list-group-item text-danger">
🗑 Delete Student
</a>
  <a href="/ranking"
class="list-group-item">
🏆 Ranking System
</a>

<a href="/students_pdf"
class="list-group-item">
📄 Students PDF
</a>

<a href="/receipt_pdf/{{ student[0] }}"
class="list-group-item">
💰 Receipt PDF
</a>

<a href="/ranking_pdf"
class="list-group-item">
🏆 Ranking PDF
</a>

<a href="/report_card/{{ student[0] }}"
class="list-group-item">
📄 Report Card PDF
</a>

<a href="/teachers_pdf"
class="list-group-item">
👩‍🏫 Teachers PDF
</a>

<a href="/backup"
class="list-group-item">
💾 Backup Database
</a>

<a href="/restore"
class="list-group-item">
♻ Restore Database
</a>

<a href="/id_card/{{ student[0] }}"
class="list-group-item">
🆔 Student ID Card
</a>

<a href="/professional_id/{{ student[0] }}"
class="list-group-item">
🆔 Professional ID Card
</a>

<a href="/qr_id/{{ student[0] }}"
class="list-group-item">
🆔 QR Code ID Card
</a>

<a href="/qr_professional_id/{{ student[0] }}"
class="list-group-item">
🆔 QR Professional ID Card
</a>
<a href="/dashboard"
class="btn btn-secondary mt-3 w-100">
🏠 Back to Home
</a>
</div>

</div>

</body>
</html>
