<!DOCTYPE html>
<html>
<head>
    <title>Student Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body{
            background:#f4f6f9;
        }

        .card{
            border-radius:15px;
        }

        .profile-box{
            max-width:600px;
            margin:auto;
            margin-top:50px;
        }
    </style>
</head>

<body>

<div class="profile-box">

    <div class="card p-4 shadow">

        <h3 class="text-center">🎓 Student Profile</h3>

        <hr>

        <h5>Name: {{ student[1] }}</h5>
        <h5>Age: {{ student[2] }}</h5>
        <h5>Grade: {{ student[3] }}</h5>
        <h5>Fee: {{ student[4] }}</h5>
        <h5>Paid: {{ student[5] }}</h5>
        <h5>Balance: {{ student[4] - student[5] }}</h5>

        <h5>Status:
            <span class="badge bg-primary">
                {{ student[6] }}
            </span>
        </h5>

        <br>

        <a href="/dashboard" class="btn btn-dark w-100">⬅ Back</a>

    </div>

</div>

</body>
</html>
